<footer class="footer-bs">
  <div class="row">
    <div class="col-md-4 footer-brand animated fadeInLeft">
      <h2>iSend</h2>
      <p>A application help you send and receive email.</p>
      <p>Copyright © 2017 Truong An, lab02-UDPT</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
      <h4>Menu</h4>
      <div class="col-md-6">
        <ul class="pages">
          <li><a href="/">Home</a></li>
          <li><a href="/message">Message</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 footer-social animated fadeInDown">
      <h4>Follow Us</h4>
      <ul>
        <li><a href="https://facebook.com/truongan1006">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>
