<div class="row">

  <div class="col-md-12">
    <div class="col-md-6">
      <form class="input-group" method="post" action="/login?to=message">
        <div class="">
          <h3 style='margin-top: 5px;'>Login</h3>
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="text" class="form-control validate" name="user" id="usrnm">
              <label for="mail-form" data-error="Wrong email">Email</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="password" class="form-control validate" name="passw" id="pswd">
              <label for="mail-form" data-error="Wrong email">Password</label>
            </div>
          </div>
          <div style='margin-top: 10px; float:left;'>
            <button class="btn btn-primary btn-lg" type="submit" data-inline="true" value="Log in">Login</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div>
        <h3 style='margin-top: 10px;'>Register</h3>
        <form class="form-inline" action="/user/register/addAccount" method="post">

          <div class="col-md-6">
            <div class="md-form form-group">
              <input type="text" id="mail-form" name="mail" value="" class="form-control validate">
              <label for="mail-form" data-error="Wrong email">Email</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form form-group">
              <input type="password" name="pass" class="form-control validate" value="">
              <label for="mail-form" data-error="Wrong email">Password</label>
            </div>
          </div>
          <div class="col-md-6">

            <div class="md-form form-group">
              <input type="text" name="username" value="" class="form-control validate">
              <label for="mail-form" data-error="Wrong email">Username</label>
            </div>
          </div>
          <div class="col-md-6">

            <div class="md-form form-group">
              <input type="text" name="mobile" class="form-control validate" value="">
              <label for="mail-form" data-error="Wrong email">Mobile</label>
            </div>
          </div>
          <div style='margin-top: 10px;'>

            <button class="btn btn-primary btn-lg" type="submit">Register!</button>
          </div>
        </form>
      </div>

    </div>
  </div>
